.header {
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    display: flex;
    display: inline-block;
    justify-content: space-between;
    flex-direction: row;
}

.header a{
    background-color: antiquewhite;
    color: #000000;
    padding: 10px;
    box-sizing: content-box;
    user-select: text;
    text-decoration: none;
    cursor: pointer;
}

.header ul li {
    list-style: none;
    text-align: center;
}


.header a:hover {
    color: darkolivegreen;
    box-sizing: content-box;
    position: relative;
    user-select: text;
    transition: 0.2s;
}

.teste {
    color: #000000;
    font-size: 15px;
    position: absolute;
    box-sizing: content-box;
    user-select: text;
}

.teste:hover {
    color: darkcyan;
    cursor: pointer;
}

.img_ul {
    margin: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    float: right;
}